.forgot {
    display: flex;
    flex-direction: row;
}

.forgot .forgot_image {
    height: 100%;
}

.forgot .forgot_form {
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.forgot .forgot_form h2 {
    font-size: 30px;
    margin-top: 50px;
}

.forgot .forgot_form .logo {
    width: 230px;
    height: 42px;
}

.forgot .forgot_form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.forgot .forgot_form button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20%;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: #8566FF;
    color: #fff;
    cursor: pointer;
}

.forgot .forgot_form button:hover {
    background-color: #6A4BFF;
}

.backtosignin {
    margin-top: 20px;
    font-size: 14px;
    color: #918f8f;
    text-align: left;
}


