.new_password {
    display: flex;
    flex-direction: row;
}

.new_password .new_password_image {
    height: 100%;
}

.new_password .new_password_form {
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new_password .new_password_form h2 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.new_password .new_password_form .logo {
    width: 230px;
    height: 42px;
}

.new_password .new_password_form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.new_password .new_password_form button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20%;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: #8566FF;
    color: #fff;
    cursor: pointer;
}

.new_password .new_password_form button:hover {
    background-color: #6A4BFF;
}

.new_password .new_password_form .nocode {
    margin-top: 20px;
    font-size: 14px;
    color: #918f8f;
}

.modall {
    text-align: center;
    padding: 10px 80px;
}

.modall img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}

.modall button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20%;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: #8566FF;
    color: #fff;
    cursor: pointer;
}

