/* Your global styles can go here */

.signup {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.signup .signup_form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup .signup_form h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.signup .signup_form .signup_form_row {
    display: flex;
}

.signup .signup_form .signup_form_column {
    flex: 1;
    margin-right: 20px;
}


.signup .signup_form .i {
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.signup .signup_form button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20%;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: #8566FF;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block; /* Ensure it takes up the full width */
}

.signup .signup_form button:hover {
    background-color: #6A4BFF;
}

.signup .signup_form .backtosignin {
    margin-top: 20px;
    font-size: 14px;
    color: #918f8f;
    text-align: center;
}

.signup .signup_form .subtitle {
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 0px;
}

.signup .signup_form .logo {
    width: 230px;
    height: 42px;
}

.check1 input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.check1 {
    font-size: 14px;
    margin-top: 20px;
}

.signup .signup_form_social p {
    margin-top: 20px;
    font-size: 14px;
    color: #918f8f;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    text-align: center;
}

.signup .signup_form_social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}


.signup .signup_form_social img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

