.about-us {
    padding: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-us-image {
    width: 60%;
    height: 100%;
}

.about-us-image img {
    width: 100%;
    height: 100%;
}

.about-us-content {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.about-us-content h1 {
    color:rgb(50, 50, 50);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 4px;
    font-size: 3rem;
}

.about-us-content .subtitles {
    color:#8566FF;
    margin-bottom: 0px;
    font-size: 1rem;
}

.about-us-content p {
    color:rgb(90, 89, 89);
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.about-us-content ul {
    list-style: none;
    margin-top: 0px;
    font-size: 1.3rem;
}

.about-us-content ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -30px;
    margin-top:  0px;
    margin-bottom:  10px;

    
}

.about-us-content ul li img {
    width: 8px;
    height: 8px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgb(133, 81, 218);
}

@media screen and (max-width: 1500px) {
    .about-us {
        padding: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1100px) {
    .about-us {
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .about-us {
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-us-image {
        width: 100%;
        height: 100%;
    }
    
    .about-us-image img {
        width: 100%;
        height: 100%;
    }
    
    .about-us-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px;
    }
    
    .about-us-content h1 {
        color:rgb(50, 50, 50);
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 4px;
        font-size: 3rem;
    }
    
    .about-us-content .subtitles {
        color:#8566FF;
        margin-bottom: 0px;
        font-size: 1rem;
    }
    
    .about-us-content p {
        color:rgb(90, 89, 89);
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 1.3rem;
    }
    
    .about-us-content ul {
        list-style: none;
        margin-top: 0px;
        font-size: 1.3rem;
    }
    
    .about-us-content ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: -30px;
        margin-top:  0px;
        margin-bottom:  10px;
    
        
    }
    
    .about-us-content ul li img {
        width: 8px;
        height: 8px;
        padding: 10px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
        background-color: rgb(133, 81, 218);
    }
}